.dashboard {
    background-color: #172627;
    min-height: 100vh;
    padding: 2rem;
    color: white;
    font-family: sans-serif;
       width: 100vw;      /* viewport genişliği kadar */
    height: 100vh; 
  }
  
  .title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    background-color: #172627
  }
  
  .bar {
    display: inline-block;
    width: 4px;
    height: 30px;
    background-color: #20cd8d;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 220px));
    gap: 100px;
    background-color: #172627
  }
  
  .tile {
    background-color: #20cd8d;
    
    border-radius: 20px;
    padding: 1.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    transition: transform 0.2s;
  }
  
  .tile:hover {
    transform: scale(1.05);
  }
  
  .tile-icon {
    font-size: 2.5rem;
  }
  
  .tile-label {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .tile-plus {
    text-align: right;
    font-size: 1.5rem;
  }
  